---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: prometheus-hetzner-sd
    literals:
      - PROMETHEUS_HETZNER_OUTPUT_ENGINE=http
      - PROMETHEUS_HETZNER_OUTPUT_FILE=/etc/prometheus/hetzner.json

secretGenerator:
  - name: prometheus-hetzner-sd
    literals: []
  - name: prometheus-hetzner-files
    literals: []

images:
  - name: prometheus-hetzner-sd
    newName: quay.io/promhippie/prometheus-hetzner-sd
    newTag: latest@sha256:9b46174a41324c8c6f82f11baff235a891de2ae6a14cab7c3761e34e69ea9952

...
